* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// variables
// fonts

:root {

$font-main: 'Roboto', sans-serif;

// colors
$color: var(--bright-orange);
$color: var(--greyish-brown);
$color: var(--white-two);
$color: var(--white);
$color: var(--black);


}