.footer {
    background-color: #4a4a4a;
    height: 465px;
    color:white;

    .copy {
        color:white;
        margin-top: 30px;
     } 
}
    
 
.lulist {
    color:white;
    
}

  
  
  
  
  
   