.header {
  
     background-image:url('../images/cover.jpeg');
     flex-grow: 0;
     display:inline-block;
     justify-content: center;
     color: white;
   
    .header-button {
        background-color:#f26002;
        width: 37px;
        height: 34px;
        position: fixed; 
        top: 0%;
        left: 0%;   
    
        .button {
            width: 13,5px;
            height: 11,1px;
            flex-grow: 0;
            

        }       
    }
      
     
      

    }
