.section1{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .tip {
        color: #f26002;
    }
    .titlesection1 {
        color: black;
    }
    .textsection1 {
        color: #4a4a4a;

    }

    }
      