<footer>
    <p> &COPY;2023</p>
    
  <nav>
    <ul>
    <li>ZAPATILLAS</li><a href="https://adalab.es/"></a>
    <li>ROPA</li><a href="https://adalab.es/"></a>
    <li>NIÑO/A</li><a href="https://adalab.es/"></a>
    <li>DESTACADOS</li><a href="https://adalab.es/"></a>
    <li>TIPS</li><a href="https://adalab.es/"></a>
   </ul>

   <ul>
   <li>TWITTER</li><a href="https://adalab.es/"></a> 
   <li>INSTAGRAM</li><a href="https://adalab.es/"></a>
   <li>YOUTUBE</li><a href="https://adalab.es/"></a>
   
   </ul>

  </nav>

</footer>
