<footer class="footer">
  
  <div class="footer-button">
    <a class="button" href="#header#"><img src="./images/ico-arrow.svg" alt="arrow"></a>
</div>

 
  <nav class="nav">
    
    <ul class="lulist">
    <li class="list"><a href="https://adalab.es/">zapatillas</a></li>
    <li class="list"><a href="https://adalab.es/">ropa</a></li>
    <li class="list"><a href="https://adalab.es/">niño/niña</a></li>
    <li class="list"><a href="https://adalab.es/">destacados</a></li>
    <li class="list"><a href="https://adalab.es/">tips</a></li>
   </ul>

   <ul class="lulist">
   <li class="list"><a href="https://adalab.es/">twitter</a></li>
   <li class="list"><a href="https://adalab.es/">instagram</a></li>
   <li class="list"><a href="https://adalab.es/">youtube</a></li>
   
   </ul>
  

  </nav>
  <span class="copy">&copy; 2023 </span>

</footer>
