<footer class="footer">

    <p> &COPY;2023</p>
    
  <nav class="nav">
    <ul>
    <li><a href="https://adalab.es/">zapatillas</a></li>
    <li><a href="https://adalab.es/">ropa</a></li>
    <li><a href="https://adalab.es/">niño/niña</a></li>
    <li><a href="https://adalab.es/">destacados</a></li>
    <li><a href="https://adalab.es/">tips</a></li>
   </ul>

   <ul>
   <li><a href="https://adalab.es/">twitter</a></li>
   <li><a href="https://adalab.es/">instagram</a></li>
   <li><a href="https://adalab.es/">youtube</a></li>
   
   </ul>

  </nav>

</footer>
