<header class="header">

    <div class="header-button">
        <a class="button" href="https://adalab.es/"><img src="./images/ico-menu.svg" alt="HAM"></a>
    </div>
    
    <div class="header-content">
        <div class="header-text">
            <h1>Hasta un 50% de Descuento</h1>
            <p>Ya están aquí las ofertas de temporada</p>
            </div>
        
            <div class="arrow-button">
                <a href="./main.html/section2"><img src="./images/ico-scroll-down.svg" alt="arrow"></a> 
            </div>
        
    </div>
   
</header>
