
    <section class="section1">

      <div class="section1-content">

            <h5 class="tip"> Los sentimientos nos inspiran</h5>
            <h2 class="titlesection1"> Conecta contigo</h2>
            <p class="textsection1"> Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hace sentir.</p>
         
            <div class="buttonbuy">
                <h4>Comprar</h4>
            </div>  
        </div>
   
      </section>

    
    
    <section class="section2">

        <h2>Año nuevo, movimientos nuevos</h2>
        <div class="grid">
        <article class="articles">
            <h4>Entrenamientos</h4>
            <p>Sesiones de running y entrenamientos</p>
        </article>
    
        <article class="articles"> 
            <h4>Cualquier nivel</h4>
            <p>Entrenamientos para cada nivel</p>
        </article>
    
        <article class="articles">
            <h4>Exclusividad</h4>
            <p>Productos para miembros premium</p>
        </article>
        </div>

        <div class="start">
            <h4>Empezar ahora</h4>
        </div>

       </section>
    



